# Selected installed lab snapshot; review before use. DNS credentials are separate.
evpn: evpn1
	controller evpnctrl
	vrf-vxlan 10000
	dns powerdns
	dnszone lab.local
	exitnodes pve1,pve2
	exitnodes-local-routing 0
	exitnodes-primary pve1
	ipam pve
	mac BC:24:11:06:CF:1F
	mtu 1500
	reversedns powerdns
